body {
  font-family: 'Cairo', sans-serif;
  background: url("خلفيه.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

h1 {
  color: #28a745;
  margin-bottom: 20px;
}

p {
  color: #333;
  margin: 10px 0;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
